<!DOCTYPE html>
<html>
<head>
  <title>Edit Album</title>
</head>
<body>
<h1>Edit Album</h1>
 <form action="<%= album_url(@album) %>" method="post">
   <input type="hidden" name="_method" value="patch">
   <%= auth_token %>
     <label for="album_name"> Name </label>
     <input type="text"
     name="album[name]"
     id="album_name"
     value="<%=@album.name%>">
  <br>



  <input type ="radio"
  name="album[live]"
  id="album_live"
  value="Live"
  <%= @album.live == "Live" ? "checked" : ""%>>
  <label for="album_live"> Live</label>
  <input type ="radio"
  name="album[live]"
  id="album_live"
  value="Studio"
  <%= @album.live == "Studio" ? "checked" : ""%>>
  <label for="album_live"> Studio</label>
<br>
  <label for="album_band_id"> Band </label>
  <select name="album[band_id]" id="album_band_id">
    <%= Band.all.each do |band| %>
      <option <%= @album.band_id == band.id ? "selected" : "" %>
        value="<%= band.id %>"> <%=band.name%>
      </option>
      <%end%>
    </select>
  <input type="submit">
 </form>

</body>
</html>
